img {
    display: block;
    margin: 0 auto;
    margin-top: 20px; /* 这里的数值可以根据需要进行调整 */
  }
  

  
  .myclass {
    
    font-size: 16px;
    text-align: left;
    margin-top: 20px; /* 这里的数值可以根据需要进行调整 */
  }

  #menu{
    color: blue
  }

 #right{
  
  color: blue;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
  