*,body {
    margin:0
    padding：0
}
div {
    margin-bottom: 20px;
}

#玻璃瓶 {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 300px;
    left: 900px;
  }

  #玻璃口 {
  
    width: 60px;
    height: 15px;
    border-radius: 5px;
    background-color: #a7d7fd;
    position: absolute;
    top: 40%;
    left: -40px; 
}


#玻璃颈 {
  
    width: 30px;
    height: 40px;
    border-radius: 5px;
    background-color: #a7d7fd;
    position: absolute;
    top: 40%;
    left: -25px; 
}

#玻璃三角 {
    position: absolute;
    top: 38%;
    left: -28%;  
    width: 20px;
    height: 30px;   
    border-left: 36px solid transparent;
    border-right: 36px solid transparent;
    border-bottom: 18px solid #a7d7fd;

}


#玻璃身 {
  
    width: 90px;
    height: 140px;
    border-radius: 5px;
    background-color: #a7d7fd;
    position: absolute;
    top: 53%;
    left:-55px; 
}


#花瓶 {width: 200px;
    height: 300px;
    position: absolute;
    top: 300px;
    left: 900px;
  }


#瓶身 {
    width: 20px;
    height: 0;
    position: absolute;
    top: 20%;
    left: -200px;
    border-top:200px solid rgb(9, 204, 87);
    border-left:50px solid transparent;
    border-right:50px solid transparent;
}


#球身子{
    position: absolute;
    top: 60%;
    left: -210px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: rgb(9, 204, 87);
    border-radius: 200px 200px 200px 200px;
}

#瓶底{
  position: absolute;
  top: 85%;
  left: -185px;
  width: 0; /* 宽度为0，用border实现 */
  height: 0; /* 高度为0，用border实现 */
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid rgb(9, 204, 87);
}



#橘子{
    width: 120px;
    height: 100px;
    position: absolute;
    top: 140px;
    left: -220px;
    border-radius: 156px 144px 124px 124px;
  }


#橘子1{
    position: absolute;
    top:170%;
    left: 90px;
    height: 400px;
    width: 80px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(239, 129, 51);
}


#橘子2{
    position: absolute;
    top:210%;
    left: 0px;
    height: 400px;
    width: 80px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(247, 118, 25);
}


#橘子3{
    position: absolute;
    top:160%;
    left: 0px;
    height: 400px;
    width: 80px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(255, 136, 50);
}

#橘子4{
    position: absolute;
    top:280%;
    left: 30px;
    height: 400px;
    width: 80px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(255, 179, 25);
}

