
    .grid-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
      width: 1400px;
    }

    .grid-item {
      background-color: #ddd;
      height: 100px;
    }

    /* 不同颜色和尺寸的格子 */
    
    .red {
      background-color: red;
      height: 100px;
    }

    .red:hover {
       background-color:  green;
       transform: rotate(10deg);
       transform: scale(1.4)
      }

    .blue {
      background-color: blue;
      height: 200px;
    }
    .blue:hover {
        background-color:yellow;
        transform: rotate(10deg);

       }

       
    .yellow {
      background-color: yellow;
      height: 280px;
    }
    .yellow:hover {
        background-color:  rgb(202, 0, 233);
        transform: rotate(-10deg);
        
       }


    .green {
      background-color: green;
      height: 150px;
    }
    .green:hover {
        background-color:  rgb(255, 0, 17);
        transform: rotate(-10deg);
        transform: scale(0.5)
       }